<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Some Kinda Warmup</title>
        <link href="/styles/style.css" rel="stylesheet">
    </head>
    <body>
        <header>
            <h1>{{title}}</h1>
            <h3>{{summary}}</h3>
            <p>{{nomnom}}</p>
        </header>
    
    </body>
</html>